# Dependencies
node_modules/

# Session & Auth (DATA SENSITIF - JANGAN DI-UPLOAD!)
session/
auth/
auth_info*/
*.session


# Logs
*.log
logs/

# Temporary files
tmp/
temp/

# Environment variables
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
